asgiref==3.12.1
beautifulsoup4==4.15.0
coverage==7.16.0
dj-database-url==3.1.2
django==6.0.7
gunicorn==26.2.0
iniconfig==2.3.0
packaging==26.3
pluggy==1.6.0
psycopg2-binary==2.9.13
pygments==2.21.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.14.0
python-dotenv==1.2.3
ruff==0.16.0
soupsieve==2.9.2
sqlparse==0.5.5
typing-extensions==4.16.0
whitenoise==6.12.0
